@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

:root {
	--grey: #222;
	--blue: rgb(49, 205, 212);
  }


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background: #fafafa;
  color: var(--grey);
}

a {
  color: var(--blue);    
}

#root {
  border-top: 15px solid #ffea4b;
}

.App-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.App-title {
  font-size: 4.5em;
  margin: .2em 0 0 0;
  position: relative;
}

.App-title:hover .navigation--image {
  transform: rotate(720deg);
}

.App-title h1 {
  display: inline-block;
}

.App-intro {
  font-size: large;
}

.navigation--image {
  display: inline-block;
  width: .5em;
  position: absolute;
  bottom: -50%;
  left: -30%;
  transition: all 500ms;
  pointer-events: none;
}

.twitter {
  position: absolute;
  right: -15px;
  top: 50%;
  margin-top: -12px;
  height: 1.5em;
  top: 100%;
  border: 1px solid var(--grey);
  border-radius: 5px;
  box-shadow: 2px 2px;
  right: -0.5em;
  background: white;
  transition: all 300ms;
}

.twitter img {
  height: 100%;
}

.App-title a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: none;
}

.App-title a:hover {
  box-shadow: none !important;
  background: transparent !important;
}

.navigation--link-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;  
}

.navigation--link-list .navigation--link a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  padding: .3em 0.8em;
  font-weight: bold;
  border: 0.1em solid #333;
  border-radius: 5px;
  box-shadow: 3px 3px var(--blue);
  margin: 0.5em;
  background: transparent;
  transition: all .2s;
}

.navigation--link a:hover,
.theory--likes-button:hover,
.twitter:hover {
  /* font-weight: normal; */
  cursor: pointer;
  box-shadow: 4px 4px var(--grey);
  background: var(--blue);
}

.App-header h1 a:hover {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.navigation--link .active {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  padding: 20px;
  padding-top: 0;
  margin: auto;
}

.theory--container {
  /* border-top: .2em solid var(--grey); */
  max-width: 500px;
  margin: 0 auto 2em;
  text-align: left;
  background-color: rgb(252, 243, 175);
  border-bottom-color: rgb(252, 243, 175);
  padding: .5em 1em;
  border-radius: 10px;
  position: relative;
  font-family: 'Playfair Display', serif;
}

.theory--container::after {
  top: -25px;
  left: 1.5em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: inherit;
  border-width: 13px;
}

.theory--likes-button {
  background: white;
  border: .15em solid var(--grey);
  border-radius: 5px;
  position: absolute;
  bottom: -1em;
  right: 2em;
  font-size: .8em;
  text-transform: uppercase;
  padding: .3em 1em;
  box-shadow: 2px 2px var(--blue);;
  transition: all .2s ease-out;
}

.theory--likes {
  background: white;
  border: .15em solid var(--grey);
  border-radius: 5px;
  position: absolute;
  bottom: -1em;
  right: 7em;
  font-size: .8em;
  text-transform: uppercase;
  padding: .3em 1em;
  margin: 0;
  font-family: sans-serif;
  /* box-shadow: 2px 2px; */
  /* background: var(--blue);   */
}

textarea,
input {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto;
  border: .2em solid var(--grey);
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  box-shadow: 3px 3px var(--blue);
  box-sizing: border-box;
  transition: box-shadow 300ms;
}

textarea:focus,
input:focus {
  box-shadow: 3px 3px var(--grey);
}

textarea {
  min-height: 10em;  
  padding: 1em;  
}

input {
  padding: 0.5em;
  margin: 0 auto 1em;
}

.auth-button,
.profile-button {
  background: white;
  border: .15em solid var(--grey);
  border-radius: 5px;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: .3em 1em;
  box-shadow: 3px 3px var(--blue);
  transition: all .2s ease-out;
  margin-top: 1em;
}

.auth-button:hover,
.profile-button:hover {
  background: var(--blue);
  cursor: pointer;
  box-shadow: 4px 4px var(--grey);
}

.auth-error {
  background: #ffea4b;
  padding: .2em 0;
}

.profile-header h1 {
  text-transform: uppercase;
  margin: 1em 0 0 0;
}

.profile-button {
  font-size: .9em;  
  margin-right: 1em;
  margin-bottom: 2em;
}

.profile-button--chosen {
  background: var(--blue);
  box-shadow: 2px 2px var(--grey);  
}

.loader--heads {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loader--heads div {
  width: 20%;
}

.loader--head {
  animation: rotate 900ms infinite;  
  max-width: 100%;
}

.site-info {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
}

.top-contact {
  margin-left: 33%;
  display: block;
}

.top-contact a {
  padding: 0.2em 0.5em;
  display: inline-block;
  text-decoration: none;
  border: .08em solid;
  border-radius: 6px;
  margin: 0.2em .3em .4em 0;
}

@media screen and (max-width: 800px) {
  .App-header {
    font-size: .7em;
  }

  .App-title {
    margin: 1.3em 0 0 0;
  }
  .navigation--image {
    bottom: 50%;
    left: 31%;
  }

  .navigation--link-list .navigation--link a {
    font-size: 1.3em;
  }

  h1 {
    font-size: 1.3em;
    margin-bottom: 1.5em;
  }

  .theory--container > p:first-child {
    font-size: 1.1em;
  }

  .top-contact {
    margin: 0;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .navigation--link-list .navigation--link a {
    font-size: 1em;
  }
}  