body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  border-top: 10px solid #222;
}

.App-header {
  padding: 0 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navigation--link-list {
  list-style-type: none;
  padding: 0;
}

.navigation--link a {
  color: #222;
  text-decoration: none;
}

.navigation--link .active {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  padding: 20px;
  padding-top: 0;
  margin: auto;
}

.theory--container {
  border-top: .2em solid #222;
  max-width: 500px;
}

textarea,
input {
  width: 100%;
  max-width: 500px;
  display: block;
}